* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.staticts{
    width: 60%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 2px rgb(36, 81, 96) solid;
    border-radius: 4px;
    opacity: 1;
}

body {
    direction: rtl;
    background: #f7f7f8;
    margin: 0;
    font-family: 'Oswald';
    font-family: 'Manrope';
    font-family: 'Heebo', sans-serif !important;
    font-family: 'Open Sans', sans-serif !important;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.leaflet-container {
    width: 100%;
    height: 60vh;
}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected,
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active,
.css-1e6y48t-MuiButtonBase-root-MuiButton-root,
.css-imwso6-MuiBottomNavigationAction-label.Mui-selected{
    color:#94db9f !important
}

.css-j204z7-MuiFormControlLabel-root,
.css-j204z7-MuiFormControlLabel-root,
.css-j204z7-MuiFormControlLabel-root,
.css-j204z7-MuiFormControlLabel-root {
    margin:0 !important;
}

.css-levciy-MuiTablePagination-displayedRows,
.css-pdct74-MuiTablePagination-selectLabel{
    margin-bottom: 0 !important;
}

.css-1azl6jz-MuiTableCell-root {
    text-align: center !important;
}

.row {
    --bs-gutter-x: 0 !important;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-roo,
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
    right:0 !important;
    transform-origin: top right !important;
}

th, td{
    text-align: right !important;
    padding: 0 !important;
    line-height: 1.43 !important;
    height:  42px !important;
}

td .css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label{
    font-size: 13px !important;
}

.css-pdct74-MuiTablePagination-selectLabel,
.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar .MuiTablePagination-actions,
.css-levciy-MuiTablePagination-displayedRows,
.css-1vweko9-MuiSvgIcon-root-MuiTableSortLabel-icon{
    display:none !important;
}



.css-1x51dt5-MuiInputBase-input-MuiInput-input,
.css-yz9k0d-MuiInputBase-input,
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root,
.css-v4u5dn-MuiInputBase-root-MuiInput-root,
.css-1x51dt5-MuiInputBase-input-MuiInput-input,
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root ,
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
    right: 0 !important;
    transform-origin: top right !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root,
.css-u4tvz2-MuiFormLabel-root,
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root,
.css-1ex1afd-MuiTableCell-root,
.css-186q1z4-MuiTypography-root,
.css-2pbtu6-MuiTypography-root,
.css-yz9k0d-MuiInputBase-input,
.css-10dfkli-MuiTableCell-root,
.css-m1xwsv-MuiTableCell-root,
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root,
.css-1azl6jz-MuiTableCell-root,
.css-177gid-MuiTableCell-root,
.css-11w94w9-MuiTableCell-root,
.css-17c326k-MuiTableCell-root,
.css-ahj2mt-MuiTypography-root,
.css-imwso6-MuiBottomNavigationAction-label,
.css-pdct74-MuiTablePagination-selectLabel,
.css-levciy-MuiTablePagination-displayedRows,
.css-194a1fa-MuiSelect-select-MuiInputBase-input,
.css-2ulfj5-MuiTypography-root,
.css-r40f8v-MuiTypography-root,
.css-fdrapj-MuiTypography-root,
.css-h93ljk-MuiTypography-root,
.css-27xlgh-MuiPaper-root-MuiAlert-root,
.css-1hv8oq8-MuiStepLabel-label,
.css-a1sg1c-MuiButtonBase-root-MuiButton-root,
.css-1e6y48t-MuiButtonBase-root-MuiButton-root,
.css-v4u5dn-MuiInputBase-root-MuiInput-root,
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root,
.css-1x51dt5-MuiInputBase-input-MuiInput-input,
.css-11qr2p8-MuiButtonBase-root-MuiButton-root,
.css-1p09y6k-MuiTypography-root,
.css-105x7br-MuiTypography-root,
.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input,
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root,
.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input,
.css-182y8bd-MuiTypography-root,
.css-yslrua-MuiTypography-root-MuiAlertTitle-root,
.css-1sszw6i-MuiButtonBase-root-MuiButton-root {
    font: 'Heebo', sans-serif !important;
    font: 'Heebo', sans-serif !important;
    font-family: 'Heebo', sans-serif !important;
    font-family: 'Open Sans', sans-serif !important;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
    background-color: #94db9f !important;
}